nav.fixed-position {
  color: #fff;
  background: #007395;
}

.base-color {
  color: #fff;
  background: #007395;
}

.base-color-text {
  color: #007395;
}

button:hover.base-color {
  background: #00aee1;
}

.accent1-color {
  background: #00aee1;
}
.accent2-color {
  background: #328ca7;
}
.accent3-color {
  background: #50e187;
}
.accent4-color {
  background: #004c62;
}
