nav {
    color: #fff;
    background: #007395;
}

.base-color {
    color: #fff;
    background: #007395;
}

button:hover.base-color {
    background: #00AEE1;    
}

.accent1-color {
    background: #00AEE1;
}
.accent2-color {
    background: #328CA7;
}
.accent3-color {
    background: #50E187;
}
.accent4-color {
    background: #004C62;
}
