.sending {
  animation-duration: 0.5s;
  animation-name: fade;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.btn-group {
  display: flex;
}

.border-2 {
  border-left-color: aqua;
  border-left-width: 3px !important;
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.45;
  }
}
